.modal {
	width: 100%;
	height: 100%;
	background-color: rgba(29, 29, 29, 0.3);
	top: 0;
	left: 0;
	position: absolute;
	display: flex;
}

.modal_hidden {
	visibility: hidden;
}

.modal__container {
	width: 480px;
	background-color: var(--color-neutral-50);
	margin: auto auto;
	border-radius: var(--radius-md);
	display: flex;
	flex-direction: column;
	padding: var(--spacing-md) var(--spacing-lg);
}
